/* Fonts */

@font-face {
  font-family: josefin-sans-bold;
  src: url(JosefinSansBold-OVA7o.ttf);
}

@font-face {
  font-family: doubleplus;
  src: url(Doubleplus-6Yy4g.ttf);
}

/* Client Home */

.container-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.toolbar-main {
  background-color: rgb(105, 105, 248);
  width: 100vw;
  height: 10vh;
  display: flex;
}

.header-company {
  font-size: 24px;
  display: flex;
  align-items: center;
  font-family: doubleplus;
  letter-spacing: 2px;
}

.container-links {
  font-family: josefin-sans-bold;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin: 0 0 0 auto;
  box-sizing: border-box;
  padding-right: calc(10px + 1vw);
}

.container-links-small-device {
  visibility: hidden;
  position: absolute;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  color: white;
}

.link:hover {
  cursor: pointer;
}

.trademark {
  margin: 0 0 0 calc(10px + 1vw);
}

.hamburger {
  height: 50%;
  visibility: hidden;
  position: absolute;
}

.container-banner {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  opacity: .7;
  z-index: 1;
  position: absolute;
  top: 10vh;
}

.message-banner {
  margin: 0 auto 100px auto;
  z-index: 2;
  font-family: josefin-sans-bold;
  font-size: calc(32px + 2vw);
  color: white;
  text-align: center;
  max-width: 80vw;
}

.button-see-products {
  font-family: josefin-sans-bold;
  margin: 80px auto 0 auto;
  background-color: rgb(155, 13, 13);
  border-radius: 25px;
  outline: none;
  color: white;
  height: 50px;
  width: 150px;
  font-size: 16px;
  z-index: 2;
}

/* Admin Landing */

.container-login {
  width: 300px;
  height: 200px;
  border: 1px solid red;
}

.admin {
  position: absolute;
  top: 0;
  z-index: 5;
}


/* For small devices */

@media only screen and (max-device-width: 567px) {
/* @media only screen and (max-device-width: 823px) { */

  .container-links {
    visibility: hidden;
    position: absolute;
    right: 0;
  }

  .container-links-small-device {
    font-family: josefin-sans-bold;
    visibility: visible;
    position: absolute;
    border: 2px solid grey;
    top: 10vh;
    right: 0;
    background-color: rgb(171, 171, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 10px 20px;
    height: 150px;
    transition: all ease 0.15s;
    z-index: 10;
  }

  .hidden {
    right: -150px;
    transition: all ease 0.15s;
  }

  .dropdown {
    margin: auto;
  }

  .hamburger {
    visibility: visible;
    position: relative;
    justify-self: flex-end;
    margin: auto 10px auto auto;
    align-self: center;
  }
}